<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script defer src="main.js"></script>
    <title>About Page</title>
</head>
<body>
    <h1>About Tea Leaves Disease Prediction</h1>
    <p>This is a project aimed at predicting diseases in tea leaves. Explore the website to learn more.</p>
    <button onclick="location.href='index.html'">Home</button>
    <button onclick="location.href='teahome.html'">Tea Disease Info</button>
</body>
</html>
