<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script defer src="main.js"></script>
    <title>Tea Leaves Disease Info</title>
</head>
<body>
    <h1>Tea Leaves Disease Information</h1>
    <p>Explore information about different diseases affecting tea leaves.</p>
    <button onclick="location.href='index.html'">Home</button>
    <button onclick="location.href='about.html'">About</button>
</body>
</html>
